#firstSelectionComponentDiv{
    display: flex;
    flex-direction: column;
}

#searchFunctionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.searchInputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width:50%;
    height: 2.5rem;
    border-radius: 2rem;
    border: solid #080808 0.1rem;
    padding: 0 1rem;
    background-color: rgba(0,0,0,0.05);
}

.searchInput{
    height: 100%;
    width: 50%;
    text-indent: 1.5%;
    font-family: 'Regular';
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    border: 0;
    flex-grow: 1;
    background-color: rgba(0,0,0,0);
    outline: none;
}

.searchInput::after{
    border: 0;
}

.searchButtonIcon{
    height: 60%;
    opacity: 35%;
}

.searchButtonIcon:hover{
    cursor: pointer;
}

.userInput{
    display:flex;
    flex-direction: column;
}

.userInputInstructionText{
    margin:1.5rem;
}

.userInputInstruction{
    font-family:'Bold';
    font-size: 1.75rem;
    margin: 0;
    color: #1d1b16;
}

.userInputInstructionDisclaimer{
    font-family: "Regular";
    font-size: 1.1rem;
    margin:0.5rem 0;
}

/* .userInputOptionDiv{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0 1.5rem;
    flex-wrap: wrap;
} */

.userInputOptionDiv{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1.5rem;
    grid-auto-rows: 1fr;
    padding: 0 1.5rem;
}

/* .userInputOption{
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.05);
    transition: ease 0.25s;
    flex-basis: calc(100%/9);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */

.userInputOption{
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.05);
    transition: ease 0.25s;
    flex-direction: column;
    overflow: hidden;
    display:flex;
    justify-content: center;
    height: 100%;
}

.userInputOption:hover{
    transition: ease 0.25s;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.10);
    cursor: pointer;
}

.userInputOptionText{
    font-size: 1.5rem;
    font-family: 'Bold';
    text-align: center;
    margin: 0.5rem;
}

.userInputOptionInformation{
    font-family: "Regular";
    font-size: 0.9rem;
    text-align: center;
    margin:0.25rem;
}

.optionImageContainer{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-grow: 1;
}

.optionImage{
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}

#userInput2{
    display: none;
}

#userInput3{
    display: none;
}

#userInput4{
    display: none;
}

#resultsContainerID{
    display: none;
}

.selected{
    opacity: 100%;
    background-image: linear-gradient(#3f3f3f, #080808);
    color: white;
}

.submitButtonDiv{
    display:none;
    justify-content: center;
}

.refreshButtonDiv{
    display: flex;
    justify-content: center;
}

.finalButton{
    height:4rem;
    width: 8rem;
    border: 0;
    background-image:  linear-gradient(#e73137, #bf171c);
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.05);
    border-radius: 0.5rem;
    color:white;
    font-family:'Bold';
    font-size: 1.5rem;
    margin:1.5rem 0 1rem;
}

.finalButton:hover{
    transition: ease 0.25s;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.10);
    cursor: pointer;
}

/* .notSelected{
    opacity:50%;
    user-select:none;
    background-color:white;
    color:black;
}

.notSelected:hover{
    opacity: 70%;
} */

.resultsContainer{
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    font-family: 'Regular';
    margin:1.5rem;
    justify-content: center;
    align-items: center ;
    gap: 1.5rem;
}

.resultsDiv{
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.05);
    transition: ease 0.25s;
    flex-direction: column;
    overflow: hidden;
    display:flex;
    justify-content: center;
    height: 100%;
    padding: 1.5rem;
    gap: 1rem;
}

.resultsHeading{
    font-family: 'Heavy';
    font-size:1.75rem;
    text-align: center;
    margin:0;
}

.resultsInformation{
    font-size: 1.5rem;
    text-align: center;
    margin:0;
}

.resultsStrong{
    font-family:'Bold'
}

.resultsSkuDiv{
    display: flex;
    justify-content: center;
}

.resultsSkuBackground{
    width:min-content;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    border-radius: 0.75rem;

}

.resultsSku{
    font-size: 1.75rem;
    font-family: 'Bold';
    color: white;
    margin: 0.75rem;
}

.productLink{
    font-family: 'Regular';
    text-decoration: none;
    text-align: center;
}

.productLink:hover{
    color: #bf171c;
}

.newFittingButton{
    background-image:  linear-gradient(#e73137, #bf171c);
    width: max-content;
    padding: 1rem;
    border-radius: 0.55rem;
    font-size: 1rem;
}

.newFittingLink{
    text-decoration: none;
    font-family: 'Bold';
    color: white;
    margin: 0.5rem;
}
.notStrong{
    font-family: 'Regular';
}

.hiddenButton{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    opacity: 0%;
    transition: ease 0.75s;
}

.hiddenButton:hover{
    opacity: 100%;
    cursor: pointer;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.05);
}

.easterEggDiv{
    display:none;
    flex-direction: column;
    align-items: center;
}

.easterEggTitle{
    font-family: 'Heavy';
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}

.easterEggSubtitle{
    font-family: regular;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

.easterEggInstructions{
    font-family: regular;
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

.riddleContainer{
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.05);
    transition: ease 0.25s;
    flex-direction: column;
    overflow: hidden;
    display:flex;
    justify-content: center;
    width: max-content;
    padding: 2rem;
}

.riddle{
    font-family: 'Light';
    font-size: 1.5rem;
    margin:0.5rem;
    text-align: center;
}

.riddleInputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0rem;
    width:80%;
}

.riddleInput{
    margin:2rem;
    height: 2rem;
    width: 50%;
    font-family: 'Regular';
    font-size: 1.5rem;
}

.riddleSubmitButton{
    background-image:  linear-gradient(#e73137, #bf171c);
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.05);
    border-radius: 0.5rem;
    color:white;
    font-family:'Bold';
    font-size: 1.5rem;
    padding: 0.5rem;
    border:0;
}

.riddleSubmitButton:hover{
    transition: ease 0.25s;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.10);
    cursor: pointer;
}
@media (max-width:1400px) {
    .userInputOptionInformation{
        display: none;
    }

    .userInputOptionDiv{
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1.5rem;
        grid-auto-rows: 1fr;
        padding: 0 1.5rem;
        margin-bottom: 1.5rem;
    }

    .userInputOptionText{
        font-size:1.25rem;
    }

    .hiddenButton{
        display: none;
    }
}

@media (max-width:800px) {
    .userInputOptionDiv{
        grid-template-columns: repeat(4, 1fr);
    }

    .searchInputContainer{
        width:70%;

    }
}

@media (max-width:600px) {
    .userInputOptionDiv{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:400px) {
    .userInputOptionDiv{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:300px) {
    .userInputOptionDiv{
        grid-template-columns: repeat(2, 1fr);
    }

    .userInputOptionText{
        font-size:1rem;
    }
}