.header{
    display: flex;
    width: 100%;
    /* background-color:#1d1b16; */
    background-image: linear-gradient(#e73137, #bf171c);
    justify-content: space-between;
}

.pageTitle{
    color: white;
    font-family: 'Heavy';
    margin: 1rem;
    font-size: 1.75rem;
}

.helpAndExit{
    display: flex;
    justify-content:center;
}

.help{
    font-family: 'Light';
    opacity: 50%;

}

.help:hover{
    opacity:100%;
    cursor: pointer;
    transition: ease 0.1s;
    scale: 102%;
}

.helpPage{
    position:absolute;
    display:none;
    flex-direction: column;
    width: 80%;
    height: max-content;
    background-color: white;
    margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    border-radius: 0.5rem;
    z-index: 4;
    font-family: "Heavy";
}

.helpTitle{
    text-align: center;
}

#exitButton{
    position: absolute;
    right: 0;
    top:0;
    font-family: "Thin";
    margin: 1.5rem;
    opacity: 50%;
    transition: ease 0.25s;
}

#exitButton:hover{
    transition: ease 0.25s;
    opacity:100%;
    cursor: pointer;
}

#helpPageBlock{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.50);
    display:none;
    position: absolute;
    margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    user-select: none;
    color:rgba(0,0,0,0);
    z-index: 3;
}

.coordinateSystemImageContainer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.coordinateSystemImage{
    height: 12.5rem;
}

.helpInformationDiv{
    margin:0 2rem;
    height: min-content;
}

.helpSubtitle{
    font-family: "Bold";
    font-size: 1.5rem;
    margin:1.5rem 0 0.25rem;
}

.helpInformation{
    font-family: "Regular";
    margin:0 1.5rem 0.25rem;
}
.helpDisclaimer{
    text-align: center;
    color: #bf171c;
    justify-self: last baseline;
    margin-bottom: 1rem;
}

.helpLink{
    font-family: "Regular";
    text-decoration: underline;
    margin:1rem 1.5rem;
    color: black;
}

.indent{
    text-indent: 1rem;
}

.developedBy{
    text-align: center;
    font-family:'Bold';
    /* position: absolute;
    left: 0;
    right: 0;
    bottom:2.5%; */

    margin-bottom: 1rem;
}

.developedByLink{
    text-decoration: none;
    color: black;
}
.qRCodeFlexContainer{
    display: none;
    position: absolute;
    width: 100%;
    height: min-content;
    margin: 0 auto auto;
	top: 7.5%;
	right: 0;
	bottom: 0;
	left: 0;
    justify-content: center;
}

.qRCodeDiv{
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 2rem 0.05rem rgba(0,0,0,0.5);
    border-radius: 2.5rem;
    transition: 0.5s;
}

.qRCodeImage{
    height: 300px;
    width: 300px;
}

.qRCodeLink{
    text-align: center;
    font-size: 1.25rem;
    margin: 1.5rem;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.qRCodeLink:hover{
    cursor: pointer;
}

.qRCodeLink:hover ~ .qRCodeFlexContainer{
    display: flex;
    transition: 0.5s;
}

@media (max-width:850px){
    .qRCodeLink{
        display: none;
    }

    .pageTitle{
        font-size: 1rem;
    }

    .help{
        font-size: 1.25rem;
        align-self: center;
    }

    .helpTitle{
        font-size: 1.5rem;
    }

    .helpSubtitle{
        text-align: center;
    }
    #exitButton{
        font-size: 1.15rem;
        margin:1.15rem;
    }

    .helpDisclaimer{
        font-size: .8rem;
    }

    .helpPage{
        height: 90%;
        overflow: scroll;
    }

    .developedBy{
        position:inherit;
    }

    .indent{
        text-indent: 0rem;
    }

    .helpInformationDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .helpInformation{
        margin: 0.5rem 0;
    }
    .helpLink{
        margin: 1rem 0;
    }

    .helpDisclaimer{
        margin: 1rem 1.5rem;
    }

    #helpPageBlock{
        position:fixed;
    }

}