@font-face {
  font-family: 'Ultralight';
  src: url(assets/fonts/1\ Ultralight.otf);
}
@font-face {
  font-family: 'Light';
  src: url(assets/fonts/3\ Light.otf);
}
@font-face {
  font-family: 'Thin';
  src: url(assets/fonts/2\ Thin.otf);
}
@font-face {
  font-family: 'Regular';
  src: url(assets/fonts/4\ Regular.otf);
}
@font-face {
  font-family: 'Medium';
  src: url(assets/fonts/5\ Medium.otf);
}
@font-face {
  font-family: 'Semibold';
  src: url(assets/fonts/6\ Semibold.otf);
}
@font-face {
  font-family: 'Bold';
  src: url(assets/fonts/7\ Bold.otf);
}
@font-face {
  font-family: 'Heavy';
  src: url(assets/fonts/8\ Heavy.otf);
}
@font-face {
  font-family: 'Black';
  src: url(assets/fonts/9\ Black.otf);
}

html, body{
  margin:0;
  min-height: 100%;
  user-select: none;
}

body{
  background-image: linear-gradient(#ffffff, #ebebeb);
}
